@use "/scss/_mixins.scss";
// Css chung
.section-1-about {
    display: flex;
    background-color: var(--yellow-light);

    .box-area {
        max-width: 670px;
        text-align: center;
        margin-top: 73px;
        margin-left: auto;
        margin-right: auto;
    }

    .heading {
        line-height: 7rem;
        font-weight: 800;
        font-size: 6rem;
    }

    .paragraph {
        margin-bottom: 100px;
    }

    @include mixins.screen(xl) {
        .left-section-1 h1 {
            font-size: 4.3rem;
            line-height: 5rem;
        }
        .left-section-1 .paragraph {
            font-size: 1.6rem;
        }

        .left-section-1 .btn a {
            font-size: 1.6rem;
            padding: 15px 30px;
        }
    }

    // Responsive

    @include mixins.screen(lg) {
        .heading {
            font-size: 3.5rem;
        }
        .sub-heading,
        .paragraph {
            font-size: 1.6rem;
        }
    }

    @include mixins.screen(md) {
        .heading {
            font-size: 3rem;
        }
        .sub-heading,
        .paragraph {
            font-size: 1.5rem;
        }
    }

    @include mixins.screen(sm) {
    }
}

.section-2-about {
    background-color: #fff;

    .container {
        margin-top: 150px;
    }

    .box-area {
        display: flex;
        flex-direction: column;
    }
    .sub-heading {
        color: var(--grey);
    }

    .paragraph {
        color: var(--grey);
        max-width: 470px;
    }

    .right-section {
        position: relative;
    }

    .right-section img:not(.mask) {
        width: 100%;
    }

    .mask {
        position: absolute;
        top: 50%;
        left: -60px;
    }

    .rectangle {
        width: 20px;
        height: 220px;
        background-color: var(--yellow);
        position: absolute;
        top: 0;
        right: 0;
    }

    @include mixins.screen(xl) {
        .heading {
            font-size: 3.5rem;
        }
        .sub-heading,
        .paragraph {
            font-size: 1.6rem;
        }
    }

    @include mixins.screen(lg) {
        .heading {
            font-size: 2rem;
            line-height: 3rem;
        }
        .sub-heading,
        .paragraph {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }

    @include mixins.screen(md) {
        .heading {
            font-size: 2rem;
            line-height: 3rem;
        }
        .sub-heading,
        .paragraph {
            font-size: 1.5rem;
        }
        .right-section {
            margin-top: 20px;
        }
    }

    @include mixins.screen(sm) {
    }
}

.section-3-about {
    .box-area {
        max-width: 470px;
        text-align: center;
        margin-top: 150px;
        margin-right: auto;
        margin-left: auto;
    }

    .sub-heading {
        color: var(--grey);
    }

    .heading {
        padding: 6px 0 18px 0;
    }

    .paragraph {
        color: var(--grey);
    }

    .box-img {
        margin-top: 70px;
        text-align: center;
    }

    .banner {
        width: 100%;
    }

    svg {
        margin-top: 55px;
    }

    @include mixins.screen(xl) {
        .heading {
            font-size: 3.5rem;
        }
        .sub-heading,
        .paragraph {
            font-size: 1.6rem;
        }
    }

    @include mixins.screen(lg) {
        .heading {
            font-size: 3.5rem;
        }
        .sub-heading,
        .paragraph {
            font-size: 1.6rem;
        }
    }

    @include mixins.screen(md) {
        .heading {
            font-size: 3rem;
        }
        .sub-heading,
        .paragraph {
            font-size: 1.5rem;
        }
    }

    @include mixins.screen(sm) {
    }
}

// section 4
.count-down {
    margin-top: 70px;
    .container {
        background-color: var(--yellow);
    }

    // .items {
    //     display: flex;
    //     gap: 100px;
    //
    //     justify-content: center;
    // }

    .item {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 55px 0;
    }

    .number {
        font-family: var(--heading-font);
        color: var(--dark);
        font-size: 6rem;
        font-weight: 800;
        line-height: 7rem;
    }

    .text {
        font-family: var(--paragraph-font);
        color: var(--dark);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.8rem;
    }

    @include mixins.screen(xl) {
    }

    @include mixins.screen(lg) {
        .number {
            font-size: 4rem;
            line-height: 5rem;
        }

        .text {
            font-size: 1.4rem;
        }
    }

    @include mixins.screen(md) {
        .number {
            font-size: 6rem;
            line-height: 7rem;
        }

        .text {
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }

    @include mixins.screen(sm) {
    }
}

// section 5
.section-5-about {
    .box-area {
        max-width: 470px;
        text-align: center;
        margin-top: 150px;
        margin-right: auto;
        margin-left: auto;
    }

    .sub-heading {
        color: var(--grey);
    }

    .heading {
        padding: 6px 0 18px 0;
    }

    .paragraph {
        color: var(--grey);
    }

    .box-img {
        margin-top: 70px;
        position: relative;
    }

    .banner {
        width: 100%;
    }

    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
    }

    // responsive
    @include mixins.screen(xl) {
    }

    @include mixins.screen(lg) {
        .box-area {
            margin-top: 100px;
        }
        .heading {
            font-size: 3.5rem;
        }

        .sub-heading,
        .paragraph {
            font-size: 1.6rem;
        }
    }

    @include mixins.screen(md) {
        .box-area {
            margin-top: 50px;
        }
        .heading {
            font-size: 3rem;
        }

        .sub-heading,
        .paragraph {
            font-size: 1.4rem;
        }
    }

    @include mixins.screen(sm) {
    }
}

.section-6-about {
    background: #0e1412;
    .container {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
    }
    .box-area {
        max-width: 470px;
        text-align: center;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .sub-heading {
        color: #fd6038;
    }

    .heading {
        color: #fff;
        padding: 8px 0 18px 0;
    }

    .paragraph {
        color: #beccc7;
    }

    .list-items {
        margin-top: 70px;
        margin-bottom: 100px;
    }

    .box-item {
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box-item img {
        width: 100%;
    }

    .box-item {
        position: relative;
    }

    .box-item:hover .btn-item-1 {
        opacity: 1;
        visibility: visible;
    }

    .btn-item-1 {
        position: absolute;
        bottom: 105px;
        left: 50%;
        transform: translateX(-50%);
    }

    .btn {
        opacity: 0;
        visibility: hidden;
        background-color: #fd6038;
        transition: opacity ease 0.3s, visibility ease 0.3s;
    }

    .btn a {
        font-family: var(--paragraph-font);
        color: #fff;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 6rem;
        text-decoration: none;
        padding: 0px 25px;
    }

    .box-info {
        margin-top: 18px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .info-user {
        font-family: var(--paragraph-font);
        font-size: 2.2rem;
        color: #fff;
        font-weight: 700;
        line-height: 3.2rem;
    }

    .sub-info {
        font-family: var(--paragraph-font);
        color: #beccc7;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.8rem;
    }
    // responsive
    @include mixins.screen(xl) {
    }

    @include mixins.screen(lg) {
        .heading {
            font-size: 3.5rem;
        }

        .sub-heading,
        .paragraph {
            font-size: 1.6rem;
        }
    }

    @include mixins.screen(md) {
        .container {
            margin-top: 100px;
        }
        .heading {
            font-size: 3rem;
        }

        .sub-heading,
        .paragraph {
            font-size: 1.4rem;
        }
    }

    @include mixins.screen(sm) {
    }
}

.section-7-about {
    background-color: #f8ebc9;

    .container {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .box-area {
        margin-top: 100px;
        text-align: center;
    }

    .sub-heading {
        color: #0e1412;
    }

    .heading {
        color: #0e1412;
    }

    .images {
        margin-bottom: 100px;
    }

    .box-img {
        text-align: center;
        background-color: #fff;
        width: 100%;
    }

    img {
        margin-top: 50%;
        transform: translateY(-75%);
    }

    // responsive
    @include mixins.screen(xl) {
        img {
            transform: translateY(-60%);
        }
    }

    @include mixins.screen(lg) {
        .heading {
            font-size: 3.5rem;
        }

        .sub-heading,
        .paragraph {
            font-size: 1.6rem;
        }

        .box-img {
            width: 100%;
        }
        img {
            transform: translateY(-80%);
        }
    }

    @include mixins.screen(md) {
        .heading {
            font-size: 3rem;
        }

        .sub-heading,
        .paragraph {
            font-size: 1.4rem;
        }
        img {
            transform: translateY(-60%);
        }
    }

    @include mixins.screen(sm) {
        .box-img {
            width: 80%;
            margin: auto;
        }

        img {
            transform: translateY(-100%);
        }
    }
}

.section-8-about {
    background-color: #017848;
    display: flex;
    .box-area {
        display: flex;
        flex-direction: column;
        gap: 18px;
        max-width: 470px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
    }

    .sub-heading {
        color: #fff;
    }

    .heading {
        font-family: var(--heading-font);
        color: #fff;
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 5.2rem;
    }

    .paragraph {
        color: #fff;
    }

    .btn {
        margin-top: 38px;
        margin-bottom: 100px;
    }

    .btn a {
        font-family: var(--paragraph-font);
        color: #fff;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 3rem;
        text-decoration: none;
        padding: 15px 35px;
        background-color: #fd6038;
    }

    // responsive
    @include mixins.screen(xl) {
    }

    @include mixins.screen(lg) {
        .heading {
            font-size: 3.5rem;
        }

        .sub-heading,
        .paragraph {
            font-size: 1.6rem;
        }

        .box-area {
            gap: 13px;
        }
    }

    @include mixins.screen(md) {
        .heading {
            font-size: 3rem;
        }

        .sub-heading,
        .paragraph {
            font-size: 1.4rem;
        }

        .box-area {
            gap: 5px;
        }
    }

    @include mixins.screen(sm) {
    }
}
