@use "/scss/_mixins.scss";

.main-blog {
    .box-area {
        margin-top: 70px;
    }

    .heading {
        max-width: 570px;
        font-size: 6rem;
    }

    .paragraph {
        max-width: 470px;
        color: var(--grey);
        font-size: 1.6rem;
        line-height: 2.8rem;
        padding: 10px 0;
    }

    .box-blogs {
        margin-top: 50px;
        margin-bottom: 165px;
        display: flex;
        flex-direction: column;
        gap: 55px;
        justify-content: center;

        align-items: center;
    }

    .image {
        max-width: 100%;
    }

    .card-heading {
        font-family: var(--paragraph-font);
        color: var(--dark);
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 3rem;

        padding: 20px 0 13px 0;
    }

    .date {
        font-family: var(--paragraph-font);
        color: var(--grey);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.8rem;
    }

    .btn a {
        font-family: var(--paragraph-font);
        color: #fff;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 3rem;
        padding: 15px 25px;
        background-color: var(--orange);
        text-decoration: none;
        text-align: center;
    }

    @include mixins.screen(xl) {
    }
    @include mixins.screen(lg) {
        .heading {
            font-size: 5rem;
            line-height: 6rem;
        }

        .paragraph {
            font-size: 1.5rem;
        }
    }
    @include mixins.screen(md) {
        .heading {
            font-size: 4rem;
            line-height: 4.5rem;
        }

        .paragraph {
            font-size: 1.5rem;
        }

        .card-heading {
            font-size: 1.6rem;
            line-height: 2.5rem;
        }

        .date {
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
    @include mixins.screen(sm) {
        .heading {
            font-size: 3rem;
            line-height: 3.4rem;
        }

        .paragraph {
            font-size: 1.5rem;
        }
        .card-heading {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }

        .date {
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }
}
