@use "/scss/_mixins.scss";

.main-contact {
    .container {
        margin-bottom: 20px;
    }
    .box-area {
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        gap: 18px;
    }

    form {
        margin-top: 38px;
    }
    .item label {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: flex-start;
    }

    .item span {
        font-family: var(--paragraph-font), serif;
        color: var(--dark);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 3rem;
    }

    .item input {
        outline: none;
        padding: 20px;
        border: 1px solid #beccc7;
        font-size: 1.6rem;
    }

    .item-action {
        position: relative;
    }
    .arrow-down {
        position: absolute;
        bottom: 23px;
        right: 20px;
        font-size: 1.6rem;
        color: var(--dark);
    }

    .message {
        min-height: 330px;
        outline: none;
        padding: 20px;
        border: 1px solid #beccc7;
        font-size: 1.6rem;
    }
    .btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    button {
        padding: 15px 20px;
        text-decoration: none;
        font-family: var(--paragraph-font);
        color: #fff;
        background-color: var(--orange);
        font-size: 1.8rem;
        line-height: 3rem;
    }

    @include mixins.screen(xl) {
        .heading {
            font-size: 3.8rem;
            line-height: 4.5rem;
        }

        .paragraph {
        }
    }

    @include mixins.screen(lg) {
        .heading {
            font-size: 3.5rem;
            line-height: 4rem;
        }

        .paragraph {
            font-size: 1.6rem;
            line-height: 2.5rem;
        }

        button {
            padding: 12px 15px;
        }
    }

    @include mixins.screen(md) {
        .heading {
            font-size: 3rem;
            line-height: 3.6rem;
        }

        .paragraph {
            font-size: 1.4rem;
            line-height: 2rem;
        }

        .btn {
            justify-content: center;
        }
    }

    @include mixins.screen(sm) {
        .heading {
            font-size: 2.1rem;
            line-height: 2.6rem;
        }

        .paragraph {
            font-size: 1rem;
            line-height: 1.6rem;
        }
    }
}
