@use "/scss/_mixins.scss";
.footer {
    background-color: #0e1412;
    display: flex;
    .main {
        margin-top: 40px;
    }

    .list-items {
        display: flex;
        gap: 70px;
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex-basis: 50%;
    }

    .title {
        font-family: var(--paragraph-font);
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        line-height: 3rem;
    }

    .items ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    li {
        list-style: none;
        cursor: pointer;
    }

    .items li:hover > a {
        color: var(--orange);
    }

    .address {
        flex-grow: 1;
    }

    a,
    span {
        text-decoration: none;
        font-family: var(--paragraph-font);
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: #beccc7;
    }

    .map {
        width: 100%;
        height: 268px;
        overflow: hidden;
    }

    .other {
        display: flex;
        position: relative;
    }

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
    }

    .other ul {
        display: flex;
        position: absolute;
        gap: 8px;
        bottom: 8px;
        right: 0;
    }

    .other ul a {
        padding: 8px 10px;
        background-color: #313d39;
        color: #fff;
    }

    .other li:hover > a {
        background-color: #fd6038;
    }

    // responsive
    @include mixins.screen(xl) {
        .list-items {
            gap: 30px;
        }
    }

    @include mixins.screen(lg) {
        .title {
            font-size: 1.8rem;
        }
        a,
        span {
            font-size: 1.4rem;
        }

        .list-items {
            gap: 20px;
        }

        .items ul {
            gap: 10px;
        }
    }

    @include mixins.screen(md) {
        .title {
            font-size: 1.6rem;
        }
        a,
        span {
            font-size: 1.2rem;
        }

        .items {
            flex-basis: 30%;
        }
    }

    @include mixins.screen(sm) {
        .main {
            margin-top: 20px;
        }
        .list-items {
            flex-direction: column;
        }

        .other {
            flex-direction: column;
            margin-top: 20px;
        }
        .other ul {
            position: relative;
            margin-top: 20px;
        }
    }
}
