@use "/scss/_mixins.scss";

.wrapper-header {
    display: flex;
    min-height: 127px;
    background-color: var(--yellow-light);
}

.header {
    background-color: var(--yellow-light);
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 67px;
    margin-top: 30px;
    align-items: center;
    // padding: 0 15px;

    .humburger {
        font-size: 1.8rem;
        display: none;
    }

    li {
        list-style: none;
    }

    nav {
        margin-left: 100px;
    }

    nav > ul {
        display: flex;
        gap: 62px;
    }
    .nav {
        position: relative;
    }

    .nav a {
        font-family: var(--paragraph-font), sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        text-decoration: none;
        line-height: 67px;
        padding: 10px 3px;
    }

    .nav:hover > a,
    .nav:hover > i {
        color: var(--orange);
    }

    .nav:hover > i {
        rotate: 180deg;
    }

    .nav:hover .sub-nav {
        opacity: 1;
        visibility: visible;
    }

    .sub-nav li:hover a,
    .sub-nav li:hover i {
        color: #fd6038;
    }

    .sub-nav {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 12px;
        background-color: #fff;
        min-width: 185px;
        opacity: 0;
        visibility: hidden;
        transition: opacity ease 0.3s, visibility ease 0.3s, height ease 0.3s;
    }

    .sub-nav > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }

    .sub-nav a {
        line-height: 3.2rem;
        padding: 2px 12px;
        width: 100%;
        text-align: start;
    }

    span {
        font-size: 1.6rem;
    }

    .user-action a {
        font-family: var(--paragraph-font), sans-serif;
        line-height: 67px;
        font-size: 2.2rem;
        font-weight: 700;
        text-decoration: none;
    }

    // responsive header

    @include mixins.screen(xl) {
        nav {
            margin-left: 60px;
        }
        nav > ul {
            gap: 20px;
        }
    }

    @include mixins.screen(lg) {
        nav {
            margin-left: 10px;
        }
        nav > ul {
            gap: 5px;
        }

        .user-action a {
            font-size: 1.5rem;
        }
    }

    @include mixins.screen(md) {
        .humburger {
            display: block;
        }

        nav {
            display: none;
        }
        .logo {
            display: none;
        }

        .user-action a {
            font-size: 1.2rem;
        }
    }

    @include mixins.screen(sm) {
        .user-action a {
            font-size: 1.2rem;
        }
    }
}
