<footer class="footer">
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col gy-md-3 col-xl-7 col-md-12">
                    <div class="list-items">
                        <div class="items">
                            <h4 class="title">Justice</h4>
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Cookie Preferences</a></li>
                            </ul>
                        </div>
                        <div class="items">
                            <h4 class="title">Pages</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Practice Areas</a></li>
                                <li><a href="#">Attorneys</a></li>
                            </ul>
                        </div>
                        <div class="items address">
                            <h4 class="title">Justice</h4>

                            <div>
                                <span> 50 Harrison Street, PH Suite 445 </span>
                                <br />
                                <span>Hoboken, NJ 07030</span>
                                <br />
                                <span>(000) 123-4567</span>
                                <br />
                                <span>yourlawfirm22@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col gy-md-3 col-xl-5 col-md-12">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d250441.67531741215!2d107.21786134580076!3d11.25028731195326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1747590014267!5m2!1svi!2s"
                            width="600"
                            height="450"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="other">
            <div class="logo">
                <img src="./img/logo-footer.png" alt="" />
                <span>Copyright © 2022 UI HUT All Rights Reserved</span>
            </div>
            <ul>
                <li>
                    <a href="#" class="fb"
                        ><i class="fa-brands fa-facebook-f"></i
                    ></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
