<header class="header">
    <div class="logo">
        <a href="#">
            <img src="./img/Logo.png" alt="Logo" />
        </a>
    </div>
    <nav>
        <ul>
            <li class="nav">
                <a href="#"> Home </a>
                <i class="fa-solid fa-angle-down icon"></i>

                <ul class="sub-nav">
                    <li>
                        <a h ref="#"> Divorce </a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Personal Injury</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Employment</a
                        ><i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Immigration</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Family</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Property</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                </ul>
            </li>
            <li class="nav">
                <a href="#">About </a>
                <i class="fa-solid fa-angle-down icon"></i>

                <ul class="sub-nav">
                    <li>
                        <a h ref="#"> Divorce </a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Personal Injury</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Employment</a
                        ><i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Immigration</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Family</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Property</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                </ul>
            </li>
            <li class="nav">
                <a href="#"> Practice Areas </a>
                <i class="fa-solid fa-angle-down icon"></i>

                <ul class="sub-nav">
                    <li>
                        <a h ref="#"> Divorce </a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Personal Injury</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Employment</a
                        ><i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Immigration</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Family</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Property</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                </ul>
            </li>
            <li class="nav"><a href="#">Attorneys</a></li>
            <li class="nav">
                <a href="#"> Page </a>
                <i class="fa-solid fa-angle-down icon"></i>

                <ul class="sub-nav">
                    <li>
                        <a h ref="#"> Divorce </a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Personal Injury</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Employment</a
                        ><i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Immigration</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Family</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Property</a>
                        <i class="fa-solid fa-angle-right"></i>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="user-action">
        <span>Call:</span>
        <a href="tel:0123456789"><strong>(000) 123456789</strong></a>
    </div>
</header>
