<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="wrapper">
            <!-- section 1 -->
            <div class="section-1-about">
                <div class="container">
                    <%- include("./partials/header.ejs") %>
                    <div class="box-area">
                        <h3 class="sub-heading">#1 Law Firm in New York</h3>
                        <h2 class="heading">
                            Where The Experience To Guide You
                        </h2>
                        <p class="paragraph">
                            A law firm with deep expertise in New Jersey
                            residential & investment property transactions and
                            many other things.
                        </p>
                    </div>
                </div>
            </div>

            <div class="main">
                <!-- section 2 -->
                <section class="section-2-about">
                    <div class="container">
                        <div class="row gx-5 row-col-2">
                            <div class="col">
                                <div class="box-area">
                                    <h3 class="sub-heading">#Story</h3>
                                    <h2 class="heading">
                                        Through And Complete Attention to Law
                                    </h2>
                                    <p class="paragraph">
                                        Your initial meeting with Parmele Law
                                        Firm sets in motion the difficult – and
                                        tedious – process of getting your
                                        benefits for you.
                                        <br />
                                        <br />
                                        While Mr. Parmele, his paralegals, and
                                        clerks are busy assisting you with your
                                        forms, helping you assemble your
                                        documentation, and keeping you updated
                                        regularly, Mr. Parmele is busy behind
                                        the scenes, focusing on winning your
                                        case.
                                        <br />
                                        <br />
                                        How your case ends up may well be up to
                                        you.
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="right-section">
                                    <img
                                        src="./img/img-1-section-2-about.png"
                                        alt="user"
                                    />
                                    <img
                                        src="./img/mask-1-section-2-about.png.png"
                                        alt="mask"
                                        class="mask"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- section 3 -->
                 <section class="section-3-about">
                    <div class="container"></div>
                 </section>
            </div>
            <%- include("./partials/footer.ejs") %>
        </div>
        <script type="module" src="./main.js"></script>
    </body>
</html>
