<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog</title>

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="wrapper">
            <div class="wrapper-header">
                <div class="container">
                    <%- include("./partials/header.ejs") %>
                </div>
            </div>
            <div class="main-blog">
                <div class="container">
                    <div class="box-area">
                        <h1 class="heading">Our Regular Blog</h1>
                        <p class="paragraph">
                            With our experience we are ready to help you create
                            a modern property with an easy step.
                        </p>
                    </div>

                    <div class="box-blogs">
                        <div class="row gy-3 row-cols-4">
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                            <div class="rol">
                                <img src="./img/img-1-blog.png" alt="image" />
                                <h3 class="card-heading">
                                    Top 20 Effective Digital Marketing Tools to
                                    Help
                                </h3>
                                <span class="date">July 27, 2021</span>
                            </div>
                        </div>

                        <div class="btn">
                            <a href="#">Load More</a>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("./partials/footer.ejs")%>
        </div>

        <script type="module" src="./main.js"></script>
    </body>
</html>
