<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>

        <!-- Link favicon -->
        <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/assets/favicon/site.webmanifest" />

        <!-- Link font-awesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!-- Link gg font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="wrapper">
            <!-- section-header -->
            <section class="section-header">
                <div class="container">
                    <%- include("./partials/header.ejs") %>

                    <div class="section-1">
                        <div class="row">
                            <div class="col-6 col-xl-6 col-lg-6 col-md-12">
                                <div class="left-section-1">
                                    <p class="sub-heading">
                                        #1 Law Firm in New York
                                    </p>
                                    <h1>
                                        Where People Meets Personalized Support.
                                    </h1>
                                    <p class="paragraph">
                                        Where every injury is personal. We are a
                                        different kind of law firm. Let our
                                        small, passionate group of trial lawyers
                                        fight for your rights!
                                    </p>
                                    <button class="btn">
                                        <a href="#">Get a Consultations</a>
                                    </button>
                                </div>
                            </div>

                            <div class="col-6 col-xl-6 col-lg-6 col-md-12">
                                <div class="inner">
                                    <img src="./assets/images/play-mask.png" alt="play" class="play">
                                    <img src="./assets/images/img-banner-1.png" alt="#"  class="image"/>
                                    <div class="block-yellow"></div>
                                    <div class="block-green"></div>
                                    <img src="./assets/images/mask-group-home.png" alt="mask-group" class="mask-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="main">
                <!-- section 2 -->
                <section class="section-2">
                    <div class="container">
                        <div class="inner">
                            <div class="row">
                                <div class="col-6 col-xl-6 col-lg-6 col-md-0">
                                    <div class="img-group">
                                        <img
                                            src="./assets/images/img-banner-2.png"
                                            alt="Banner-2"
                                            class="banner"
                                        />
                                        <img
                                            src="./assets/images/mask-group.png"
                                            alt="mask group"
                                            class="mask-group"
                                        />
                                    </div>
                                </div>
                                <div
                                    class="col-5 offset-1 offset-md-0 col-xl-5 col-lg-5 col-md-12"
                                >
                                    <div class="right-section-2">
                                        <p class="sub-heading">#About us</p>
                                        <h2 class="heading">
                                            Get the Guidance, Support, and
                                            Counsel
                                        </h2>
                                        <p class="paragraph">
                                            Every year hundreds of clients
                                            choose our firm because of our
                                            dedication to advocating for our
                                            clients before, during and after
                                            closing.
                                        </p>
                                        <div class="box-countdown">
                                            <div>
                                                <span class="count">1782</span>
                                                <span>Law Cases</span>
                                            </div>
                                            <div>
                                                <span class="count">10+</span>
                                                <span>Lawyer</span>
                                            </div>
                                            <div>
                                                <span class="count">98%</span>
                                                <span>Happy Clients</span>
                                            </div>
                                        </div>

                                        <button class="btn">
                                            <a href="#">Learn More</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Section 3 -->
                <section class="section-3">
                    <div class="container">
                        <div class="row">
                            <div
                                class="col offset-xl-3 offset-lg-2 offset-md-1 col-xl-6 col-lg-8 col-md-10"
                            >
                                <div class="box-area">
                                    <h3 class="sub-heading">#Services</h3>
                                    <h2 class="heading">Our Practice Areas</h2>
                                    <p class="paragraph">
                                        Our Law Office provides a professional
                                        experience for all our clients, helping
                                        them navigate their legal rights.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="list-items">
                            <div  class="row gy-3 row-cols-3 row-cols-xl-3 row-cols-lg-2 row-cols-md-1 row-cols-sm-1">
                                <div class="col">
                                    <div class="box-item box-item-1">
                                        <a class="active">
                                            Personal Injury Law
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-2">
                                        <a class="active"> Employment Law </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-3">
                                        <a class="active"> Immigration Law </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-4">
                                        <a class="active">Family Law</a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-5">
                                        <a class="active">Divorce Law</a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-6">
                                        <a class="active"> Property Law </a>
                                    </div>
                                </div>
                            </divclass=>
                        </div>

                        <button class="btn">
                            <a href="#">View all</a>
                        </button>
                    </div>
                </section>

                <!-- Section 4 -->
                <section class="section-4">
                    <div class="container">
                        <div class="section-top">
                            <div class="row">
                            <div class="col col-6 col-md-12">
                                <div class="group-img group-img-1">
                                    <img
                                        src="./assets/images/img-1-section-4.png"
                                        alt="#"
                                        class="banner"
                                    />
                                    <img
                                        src="./assets/images/mask-1-section-4.png"
                                        alt="#"
                                        class="mask-section-4"
                                    />
                                </div>
                            </div>

                            <div class="col offset-1  offset-md-0 col-5 col-md-12">
                                <div class="right-section-4">
                                    <h3 class="sub-heading">#Features</h3>
                                    <h2 class="heading">
                                        A Heritage of Legal Talent in the US
                                    </h2>
                                    <p class="paragraph">
                                        When you are seeking the services of a
                                        nationally recognized law firm, you have
                                        every right to expect an extra measure
                                        of expertise.
                                    </p>
                                    <ul>
                                        <li>Fast and Responsive</li>
                                        <li>Top Notch Communication</li>
                                        <li>Emotional Intelligence</li>
                                    </ul>
                                </div>
                                
                            </div>
                            
                        </div>

                        </div>
                        <div class="section-bottom">
                            <div class="row">
                            <div class="col offset-md-0 col-5 col-md-12">
                                <div class="left-section-4">
                                    <h3 class="sub-heading">#Features</h3>
                                    <h2 class="heading">
                                        A Heritage of Legal Talent in the US
                                    </h2>
                                    <p class="paragraph">
                                        When you are seeking the services of a
                                        nationally recognized law firm, you have
                                        every right to expect an extra measure
                                        of expertise.
                                    </p>
                                    <button class="btn">
                                        <a href="#">Our Services</a>
                                    </button>
                                </div>
                            </div>
                            <div class="col offset-1 offset-md-0 col-6 col-md-12">
                                <div class="group-img group-img-2">
                                    <img
                                        src="./assets/images/img-2-section-4.png"
                                        alt="banner"
                                        class="banner banner-2"
                                    />
                                    <img
                                        src="./assets/images/mask-2-section-4.png"
                                        alt="mask"
                                        class="mask-section-4 mask-2"
                                    />
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>

                <!-- Section 5 -->
                <section class="section-5">
                    <div class="container">
                        <div class="box-area">
                            <h3 class="sub-heading">#Team</h3>
                            <h2 class="heading">Meet With Lawyers</h2>
                            <p class="paragraph">
                                Our team of experienced team more than $150
                                Million in Settlements and Judgments for Our
                                Clients
                            </p>
                        </div>

                        <div class="list-items">
                            <div
                                class="row gy-4 row-cols-3 row-cols-xl-3 row-cols-lg-2 row-cols-md-1"
                            >
                                <div class="col">
                                    <div class="box-item box-item-1">
                                        <img
                                            src="./assets/images/img-1-section-5.png"
                                            alt=""
                                        />
                                        <button class="btn btn-item-1">
                                            <a href="#">View Profile</a>
                                        </button>
                                        <div class="box-info">
                                            <span class="info-user"
                                                >David Warner</span
                                            >
                                            <span class="sub-info"
                                                >Attorney at Law</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-2">
                                        <img
                                            src="./assets/images/img-2-section-5.png"
                                            alt=""
                                        />
                                        <button class="btn btn-item-1">
                                            <a href="#">View Profile</a>
                                        </button>
                                        <div class="box-info">
                                            <span class="info-user"
                                                >David Warner</span
                                            >
                                            <span class="sub-info"
                                                >Attorney at Law</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-3">
                                        <img
                                            src="./assets/images/img-3-section-5.png"
                                            alt=""
                                        />
                                        <button class="btn btn-item-1">
                                            <a href="#">View Profile</a>
                                        </button>
                                        <div class="box-info">
                                            <span class="info-user"
                                                >David Warner</span
                                            >
                                            <span class="sub-info"
                                                >Attorney at Law</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-4">
                                        <img
                                            src="./assets/images/img-4-section-5.png"
                                            alt=""
                                        />
                                        <button class="btn btn-item-1">
                                            <a href="#">View Profile</a>
                                        </button>
                                        <div class="box-info">
                                            <span class="info-user"
                                                >David Warner</span
                                            >
                                            <span class="sub-info"
                                                >Attorney at Law</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-5">
                                        <img
                                            src="./assets/images/img-5-section-5.png"
                                            alt=""
                                        />
                                        <button class="btn btn-item-1">
                                            <a href="#">View Profile</a>
                                        </button>
                                        <div class="box-info">
                                            <span class="info-user"
                                                >David Warner</span
                                            >
                                            <span class="sub-info"
                                                >Attorney at Law</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-item box-item-6">
                                        <img
                                            src="./assets/images/img-6-section-5.png"
                                            alt=""
                                        />
                                        <button class="btn btn-item-1">
                                            <a href="#">View Profile</a>
                                        </button>
                                        <div class="box-info">
                                            <span class="info-user"
                                                >David Warner</span
                                            >
                                            <span class="sub-info"
                                                >Attorney at Law</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-section">
                            <a href="#">All Attorney</a>
                        </button>
                    </div>
                </section>

                <!-- Section 6 -->
                <section class="section-6">
                    <div class="container">
                        <div class="box-area">
                            <h3 class="sub-heading">#Awards</h3>
                            <h2 class="heading">Our Honors & Awards</h2>
                        </div>
                        <div class="images">
                            <div  class="row gx-3 g-md-3 g-lg-2 row-cols-4 row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
                                <div class="col">
                                    <div class="box-img">
                                        <img
                                            src="./assets/images/img-1-section-6.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-img">
                                        <img
                                            src="./assets/images/img-2-section-6.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-img">
                                        <img
                                            src="./assets/images/img-3-section-6.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="box-img">
                                        <img
                                            src="./assets/images/img-4-section-6.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Section 7 -->
                <section class="section-7">
                    <div class="container">
                        <div class="row">
                            <div class="col-5 col-xl-5 col-lg-8 col-md-9">
                                <h3 class="sub-heading">#Testimonial</h3>
                                <h2 class="heading">
                                    What Our Clients Say About Us
                                </h2>
                            </div>
                        </div>

                        <div class="btn">
                            <i class="fa-solid fa-angle-left arrow-left"></i>
                            <i class="fa-solid fa-angle-right arrow-right"></i>
                        </div>

                        <div
                            class="row g-md-1 row-cols-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-1"
                        >
                            <div class="col">
                                <div class="card">
                                    <img
                                        src="./assets/images/img-1-section-7.png"
                                        alt="author-user"
                                    />
                                    <blockquote>
                                        "I am very satisfied with this Law
                                        Office. Very professional, quick
                                        responses to calls, humble and
                                        understanding. Marty has done a lot of
                                        work for me and helped my friends and
                                        myself work through some sticky issues.
                                        His staff is professional and hard
                                        working! I recommend anyone who needs a
                                        lawyer to Marty Meason and his team."
                                    </blockquote>
                                    <div class="svg">
                                        <img
                                            src="./assets/images/svg-union.svg"
                                            alt="#"
                                        />
                                    </div>
                                    <div class="author-info">
                                        <span class="author">Tim Southee</span>
                                        <span class="job">UI/UX Designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-2">
                                    <img
                                        src="./assets/images/img-2-section-7.png"
                                        alt="author-user"
                                    />
                                    <blockquote>
                                        "I am very satisfied with this Law
                                        Office. Very professional, quick
                                        responses to calls, humble and
                                        understanding. Marty has done a lot of
                                        work for me and helped my friends and
                                        myself work through some sticky issues.
                                        His staff is professional and hard
                                        working! I recommend anyone who needs a
                                        lawyer to Marty Meason and his team."
                                    </blockquote>
                                    <div class="svg">
                                        <img
                                            src="./assets/images/svg-union.svg"
                                            alt="#"
                                        />
                                    </div>
                                    <div class="author-info">
                                        <span class="author">Trent Boult</span>
                                        <span class="job">UI/UX Designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img
                                        src="./assets/images/img-3-section-7.png"
                                        alt="author-user"
                                    />
                                    <blockquote>
                                        "I am very satisfied with this Law
                                        Office. Very professional, quick
                                        responses to calls, humble and
                                        understanding. Marty has done a lot of
                                        work for me and helped my friends and
                                        myself work through some sticky issues.
                                        His staff is professional and hard
                                        working! I recommend anyone who needs a
                                        lawyer to Marty Meason and his team."
                                    </blockquote>
                                    <div class="svg">
                                        <img
                                            src="./assets/images/svg-union.svg"
                                            alt="#"
                                        />
                                    </div>
                                    <div class="author-info">
                                        <span class="author">Matt Henry</span>
                                        <span class="job">UI/UX Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dots">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="54"
                                height="6"
                                viewBox="0 0 54 6"
                                fill="none"
                            >
                                <circle cx="19" cy="3" r="3" fill="#0E1412" />
                                <circle cx="3" cy="3" r="3" fill="#FD6038" />
                                <circle cx="35" cy="3" r="3" fill="#0E1412" />
                                <circle cx="51" cy="3" r="3" fill="#0E1412" />
                            </svg>
                        </div>
                    </div>
                </section>

                <!-- Section 8 -->
                <section class="section-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-8 offset-2 offset-md-1 col-md-10">
                                <div class="box-content">
                                    <div class="box-area">
                                        <h3 class="sub-heading">#FAQ</h3>
                                        <div class="row">
                                            <div class="col col-lg-12">
                                                <h2 class="heading">
                                                    Frequently Asked Questions
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="box-texts">
                                            <span class="active"
                                                >General Question</span
                                            >
                                            <span>Other Question</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col gy-5 col-lg-12 col-md-12">
                                            <div class="box">
                                                <h4>
                                                    Why should I hire an
                                                    attorney?
                                                </h4>
                                                <i class="fa-solid fa-angle-down icon"></i>
                                            </div>
                                            <p>
                                                When you are faced with a
                                                personal injury, the
                                                physical and emotional
                                                burden should not be taken
                                                for granted. Hiring an
                                                attorney not only provides
                                                trusted legal guidance but
                                                someone to stand in your
                                                corner when you need it
                                                most. Insurance companies
                                                are seeking their best
                                                interest and not your own,
                                                so it’s always a good idea
                                                to seek counsel.
                                            </p>

                                            <div class="box">
                                                    <h4>
                                                        I am still hurting. What
                                                        do I do next?
                                                    </h4>
                                                    <i class="fa-solid fa-angle-down icon"></i>
                                            </div>
                                            <p>
                                                When you are faced with a
                                                personal injury, the
                                                physical and emotional
                                                burden should not be taken
                                                for granted. Hiring an
                                                attorney not only provides
                                                trusted legal guidance but
                                                someone to stand in your
                                                corner when you need it
                                                most. Insurance companies
                                                are seeking their best
                                                interest and not your own,
                                                so it’s always a good idea
                                                to seek counsel.
                                            </p>
                                            <div class="box">
                                                <h4>
                                                    How will I pay for my
                                                    medical bills
                                                </h4>
                                                <i class="fa-solid fa-angle-down icon"></i>
                                            </div>
                                            <p>
                                                When you are faced with a
                                                personal injury, the
                                                physical and emotional
                                                burden should not be taken
                                                for granted. Hiring an
                                                attorney not only provides
                                                trusted legal guidance but
                                                someone to stand in your
                                                corner when you need it
                                                most. Insurance companies
                                                are seeking their best
                                                interest and not your own,
                                                so it’s always a good idea
                                                to seek counsel.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Section 9 -->
                <section class="section-9">
                    <div class="container">
                        <div class="row">
                            <div class="col col-xl-8 col-lg-8 col-md-8">
                                <div class="box-area">
                                    <h3 class="sub-heading">#Blog</h3>
                                    <h2 class="heading">Latest Story & News</h2>
                                    <p class="paragraph">
                                        We’re always adding new content to help
                                        better inform our clients on issues
                                        impacting their lives.
                                    </p>
                                    <button class="btn">
                                        <a href="#">Browse All</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="list-items">
                            <div
                                class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-1"
                            >
                                <div class="col">
                                    <div class="item">
                                        <img
                                            src="./assets/images/img-1-section-9.png"
                                            alt="#"
                                            class="img"
                                        />
                                        <div class="user">
                                            <img
                                                src="./assets/images/img-user-section-9.svg"
                                                alt="#"
                                            />
                                            <div class="user-info">
                                                <span class="name">
                                                    Mitchell Starc
                                                </span>
                                                <span class="job">
                                                    Attorney at Law
                                                </span>
                                            </div>
                                        </div>
                                        <h3 class="second-heading">
                                            5 Key Rules of Law in Our Society
                                            Must Know in 2022
                                        </h3>
                                        <span class="learn-more"
                                            >Learn More</span
                                        >
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="item">
                                        <img
                                            src="./assets/images/img-2-section-9.png"
                                            alt="#"
                                            class="img"
                                        />
                                        <div class="user">
                                            <img
                                                src="./assets/images/img-user-section-9.svg"
                                                alt="#"
                                            />
                                            <div class="user-info">
                                                <span class="name">
                                                    Mitchell Starc
                                                </span>
                                                <span class="job">
                                                    Attorney at Law
                                                </span>
                                            </div>
                                        </div>
                                        <h3 class="second-heading">
                                            5 Key Rules of Law in Our Society
                                            Must Know in 2022
                                        </h3>
                                        <span class="learn-more"
                                            >Learn More</span
                                        >
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="item">
                                        <img
                                            src="./assets/images/img-3-section-9.png"
                                            alt="#"
                                            class="img"
                                        />
                                        <div class="user">
                                            <img
                                                src="./assets/images/img-user-section-9.svg"
                                                alt="#"
                                            />
                                            <div class="user-info">
                                                <span class="name">
                                                    Mitchell Starc
                                                </span>
                                                <span class="job">
                                                    Attorney at Law
                                                </span>
                                            </div>
                                        </div>
                                        <h3 class="second-heading">
                                            5 Key Rules of Law in Our Society
                                            Must Know in 2022
                                        </h3>
                                        <span class="learn-more"
                                            >Learn More</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Section 10 -->
                <section class="section-10">
                    <div class="container">
                        <div class="box-area">
                            <h3 class="sub-heading">#CTA</h3>
                            <h2 class="heading">Dealing With a Issue?</h2>
                            <p class="paragraph">
                                Where every injury is personal. We are a
                                different kind of law firm. Let our small,
                                passionate group of trial lawyers fight for your
                                rights!
                            </p>
                            <div class="btn">
                                <a href="#"> Get a Consultations </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <%- include("./partials/footer.ejs") %>
        </div>
        <script type="module" src="./main.js"></script>
    </body>
</html>
